
div.loginContainer {
	text-align: center;
	padding-bottom: 60px;
    padding-top: 5px;
}
div.loginBgOuter {
	width: 90%;
	margin: auto;
	text-align: left;
	background-color: #f0f0f0;
	-moz-border-radius: 25px; 
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding-bottom: 6px;
}

section.loginTop {
	padding-bottom: 15px;
}

section.loginBottom {
	-moz-border-radius: 5px 5px 15px 15px; 
	-webkit-border-radius: 5px 5px 15px 15px;
	border-radius: 5px 5px 15px 15px;
	background-color: #fefefe;
	padding: 5px 5px 20px;
}
div.loginBottomBg {
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #f4f5f6;
	text-align: center;
}

section .loginFrm {
	vertical-align: top;
    width: 72.5%;
    display: inline-table;
    background-color: #fefefe;
    height: 230px;
    padding: 8px;
    margin: 5px;
    text-align: center;
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

section .loginFrm2 {
	vertical-align: top;
    width: 97%;
    display: inline-table;
    background-color: #fefefe;
    height: 230px;
    padding: 8px;
    margin: 5px;
    text-align: center;
    -moz-border-radius: 20px 20px 5px 5px; 
	-webkit-border-radius: 20px 20px 5px 5px;
	border-radius: 20px 20px 5px 5px;	
}

aside.logInfo {
	display: inline-table;
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin: 5px;
    padding: 8px;
    width: 21%;
    position: relative;
    vertical-align:top;
}
aside.logInfo  header{
	font: 18px arial;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}
aside.logInfo  li {
	vertical-align: top;
	min-height: 40px;
}
aside.logInfo  li img {
	float: left;
	clear: left;
	vertical-align: top;
	width: 35px;
}
aside.logInfo li p {
	vertical-align: top;
	margin-left: 45px;
	font-size: 13px;
	color: #ffffff;
}
aside.logInfo  footer{
	font: 15px arial;
	color: #ffffff;
	width: 30%;
	margin-top: 30px;
	position: absolute;
	bottom: 20px;
}
.listener {
	background: url("../img/info/bg_list.png") no-repeat scroll 100% 100% #bdbfc1;
	height: 250px;
}
.fans {
	background: url("../img/info/bg_fans.png") no-repeat scroll 100% 100% #a6d050;
	height: 320px;
}
.lover {
	background: url("../img/info/bg_lovr.png") no-repeat scroll 100% 100% #fdcc3a;
	height: 360px;
}
.mania {
	background: url("../img/info/bg_man.png") no-repeat scroll 100% 100% #eb2836;
	height: 400px;
}
.legend {
	background: url("../img/info/bg_lgnd.png") no-repeat scroll 100% 100% #373435;
	height: 440px;
}

/*** login form ***/
#user_pass, #user_login, #user_email {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    font-size: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px;
    width: 97%;
}